База вопросов по теме [Управление БД].doc
Диплом.pdf
Конспект урока.doc
Модель данных базы товаров интернет-магазина, модуль специальных параметров товаров.pdf
Примеры к модели данных.xlsx
Энциклопедия классов мобильных устройств.pdf
База вопросов по теме [Управление БД].doc
